/* Main document background */

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background: #1e1e1e;
}

/* ::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
  background: #242424
} */

/* Main font */

body, html, div, textarea, a {
  color: #d6d6d6;
  font-weight: 300
}

img.rm-inline-img{
  max-width: 200px !important;
}

/* 文字选中 */

::selection {
  color: #fff;
  background: #3390FF;
  padding: 5px 0;
}

a {
  padding-bottom: 3px;
  color: #d4d4d4;
  text-decoration: none;
  border-bottom: 1px dashed #666;
}

a:hover {
  color: #569CCA;
  text-decoration: none;
  border-color: #569CCA;
}

/* 引用 */
.rm-bq{
   background: #252526;
   padding: 5px 10px;
}

/* 菜单:右键|搜索结果|顶部...| ,All page 是否显示列 */

.bp3-overlay .bp3-popover .bp3-popover-content, .bp3-elevation-3 {
  padding: 3px 0;
  background: #1e1e1e !important;
  box-shadow: 0 2px 4px #000 !important;
  border-radius: 0;
}

.bp3-text-overflow-ellipsis, .rm-menu-item .rm-search-title {
  color: #a3a4a3
}

.bp3-menu {
  padding: 3px 0;
  background: none;
}

.bp3-menu-item:hover, .bp3-submenu .bp3-popover-target.bp3-popover-open>.bp3-menu-item {
  background: #094771;
  border-radius: 0;
}

/* todo */

.dont-unfocus-block {
  /* background:none !important */
}

.dont-unfocus-block:hover {
  background: #222 !important;
  color: #eee
}

.bp3-menu .flex-h-box button {
  background: #323232 !important;
  border-color: #3e3e3e!important;
}

.bp3-popover .bp3-popover-arrow-fill {
  fill: none;
}

.bp3-popover .rm-menu-item {
  border-top: 1px solid #252526;
}

/* H1~H3 标题 */

.roam-body .roam-app h1 {
  color: #FFF
}

/* Roam logo */

#roam-sidebar-logo {
  display: none;
}

/* Top bar *************/

.roam-topbar {
  background-color: #252526;
}

/* graph 名称 */

.roam-sidebar-container .rm-db-title-container .rm-db-title {
  color: #1abc9c;
}

/* 搜索 */

.bp3-input {
  background: #3C3C3C;
  color: #d6d6d6
}

/* Left sidebar *************/

.roam-body .roam-app .roam-sidebar-container {
  background: #252526;
}

/* Left sidebar text */

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  color: #cedee9;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding: 0 !important
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  font-size: 14px !important;
  padding: 8px 20px !important;
  color: #d4d4d4 !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover, .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  background: #2A2D2E !important
}

/* roam-body-main */

.roam-body-main, .roam-body-main .roam-block-container, .rm-block-text {
  width: 100%;
  max-width: 1000px !important;
  margin: 0 auto
}

/* 内容块 */

.roam-block, .rm-block-input {
  padding-top: 2px;
  line-height: 1.6;
}

.roam-block b, .roam-block strong {
  font-weight: bold;
  color: #d6d6d3;
}

.rm-embed-container {
  background: #252526;
}

/* Right sidebar */

#right-sidebar {
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, .28);
}

.rm-ref-page-view-title a, .bp3-button, .bp3-button:hover, #right-sidebar .level2 a {
  color: #1abc9c !important
}

.bp3-button.rm-active {
  background: #245779;
  color: #fff !important
}

/* 引用 block */

.rm-reference-item, .block-highlight-yellow {
  padding: 5px 2px 3px 0;
  background: #252526;
  margin-bottom: 10px;
  font-size: 15px;
}

.rm-inline-references {
  background: #252526;
  border-left: 1px solid #1abc9c;
  padding: 10px 20px 0;
  border-bottom: none;
}

/* Page link */

.rm-page-ref-link-color {
  color: #1abc9c;
}

/* Reference block heading */

/* All pages */

.rm-pages-row-highlight {
  background-color: #f8b1951a;
}

.element.style {
  background-color: #f8b1951a;
}

/* All pages 表头 */

.rm-all-pages .rm-pages-row-header {
  background: #1e1e1e!important;
  box-shadow: 0 1px 8px #000 !important;
}

.rm-all-pages .table .rm-pages-row {
  border-bottom: none;
}

.rm-all-pages .table .rm-pages-row .rm-pages-title-text {
  color: #d6d6d6
}

.rm-all-pages .table .rm-pages-row .title-children-text {
  display: none
}

.rm-all-pages .table .rm-pages-row:nth-of-type(odd) {
  background: #252526;
}

/* checkbox 样式 */

.bp3-control .bp3-control-indicator {
  background: #000;
}

.search-input {
  background-color: #08080c !important;
}

.search-input.focused {
  border: none !important
}

/* block ******************/

.flex-v-box {
  padding-bottom: 3px;
}

/* Vertical guides */

.block-border-left {
  border-color: #2e2e2e;
}

/* controls ******************/

/* 区块折叠三角 */

.controls .block-expand {
  padding-top: 0;
  position: relative;
  top: -4px;
}

/* 聚焦 ************************/

/* 顶部 path */

.rm-zoom.zoom-path-view .rm-zoom-mask {
  background: none;
}

.rm-zoom-path .rm-zoom-item {
  color: #d4d4d4
}

/* 左侧圆点 */

.controls .simple-bullet-outer:hover {
  border: 1px solid #34424d;
}

#right-sidebar .controls .roam-bullet-closed, .controls .roam-bullet-closed {
  background: none;
  border: 1px solid #34424d;
}

/* 块级选中 */

.block-highlight-blue {
  background: #2A2D2E;
}

/* Code */

.CodeMirror {
  max-height: 300px;
  background: #d1c8af;
}

.CodeMirror .CodeMirror-gutters {
  padding-right: 3px;
  border-right: none;
  background: #262521;
}

.CodeMirror .CodeMirror-code .CodeMirror-line {
  padding-left: 10px;
  color: #333
}

.cm-s-default .cm-comment {
  color: #6b6a6a;
}

.simple-bullet-inner {
  opacity: 0.8;
}

code {
  margin: 0 3px;
  color: #ffb001;
  background: #262933;
  border: none
}

/* Checkmarks */

.checkmark {
  background: #ffffff21;
}

.check-container input:checked~.checkmark {
  background: #F8B195;
}

.check-container input:checked~.checkmark:after {
  border-color: #fff;
}

/* Hashtags */

.rm-page-ref-tag {
  font-weight: 400;
  border-radius: 10px;
  padding: 1px 5px 2px;
  color: #1abc8d;
}

.rm-page-ref-tag:hover {
  opacity: .9;
}

/* em */

em {
  color: #a8a8a8;
  border-radius: 0px;
  padding: 5px 5px 4px 5px;
  font-size: 15px;
  font-style: normal
}

/* Search box border */

.rm-find-or-create-wrapper .bp3-input {
  border: none !important;
  box-shadow: none !important;
}

/* "SHORTCUTS" heading */

.starred-pages-wrapper .flex-h-box {
  display: none;
}

/* Less space below page heading */

.roam-body .roam-app .roam-main .roam-article .rm-title-display {
  margin-bottom: 10px;
}

/* Block refs are not underlined or shrunk */

.rm-block-ref {
  font-size: 1em;
  padding: 4px;
  margin: 0;
  border-bottom: none;
  color: #1abc9c;
}

/* Align check-boxes better */

label.check-container {
  margin-bottom: 11px;
  margin-right: 3px;
}

.rm-level1 label.check-container {
  margin-bottom: 17px;
  margin-right: -3px;
}

/* query **********/

.rm-query {
  border: none
}

.rm-query .rm-query-title {
  padding: 0;
  background: none;
  color: #6A9955
}

/* help */

#buffer {
  z-index: 10000;
  font-size: 14px;
}

#buffer .help-item-title {
  font-size: 12px;
}
